.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__horizon {
    border: 1px solid var(--magenta-transparent-05);
    width: 80%;
  }
  &__source {
    & > a {
      color: var(--cyan);
    }
  }
  &__copyright {
    color: var(--yellow-transparent-08);
  }
}
