@import "../animation/style";

.section-sns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  position: fixed;
  bottom: 10%;
  left: 1.5rem;
  z-index: 999; // NOTE: TOP position
  & > a {
    font-size: 1.5rem;
    background: var(--black);
    opacity: 0.7;
    border-radius: 10px;
    padding: 0.5rem;
    &:hover {
      opacity: 1;
    }
  }

  & > a:nth-child(1) {
    color: var(--cyan);
  }
  & > a:nth-child(2) {
    color: var(--magenta);
  }
  & > a:nth-child(3) {
    color: var(--yellow);
  }

  animation: fadeInDown 1s;
}
