.section-aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;

  max-width: 40rem;
  border: 1px solid var(--yellow-transparent-08);

  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -0.5rem;
    left: -0.5rem;
    border: 1px solid var(--yellow-transparent-08);
  }

  &__title {
    //
  }

  &__avator {
    //
  }

  &__description {
    font-size: 1.1rem;
    & > p {
      margin-bottom: 1rem;
    }
  }

  &__tags {
    width: 100%;
  }

  &__aboutme {
    //
  }
}

$size: 7rem;
.avator {
  width: $size;
  height: $size;
}

.description {
  &__paragraph {
  }
}
