.section-experiences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__content {
    padding: 2rem;
    border: 1px solid var(--cyan-transparent-05);
  }
  &__bottom {
    text-align: center;
  }
}

.experience-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  &__item {
    padding: 2rem;
    border: 1px solid var(--cyan-transparent-05);
    background: var(--cyan-transparent-01);
  }
}
